body {
    background-color: #000000;
    font-family: "Orbitron", sans-serif;
    position: relative;
    height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
    transition: filter 0.5s ease-in-out;
}

.title {
    color: #ffffff;
    font-size: 24px;
    margin: 20px 0;
    text-align: center;
    font-family: "Orbitron", sans-serif;
}

.cards {
    position: relative;
    transition: filter 0.5s ease-in-out;
}

.card {
    perspective: 1000px;
    position: absolute;
    transition: filter 0.5s ease-in-out;
    cursor: pointer;
}

.card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out;
    transform-origin: center;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card.dimming {
    filter: brightness(0.2);
}

.card:hover {
    z-index: 10;
    filter: brightness(1);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    object-fit: cover;
    object-fit: contain;
    border-radius: 15px;
}

.card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-fit: contain;
    border-radius: 15px;
}


.card-1 {
    width: 300px;
    height: 500px;
    top: 100px;
    left: 200px;
}

.card-2 {
    width: 280px;
    height: 480px;
    top: 110px;
    left: 600px;
}

.card-3 {
    width: 390px;
    height: 590px;
    top: 60px;
    left: 980px;
}

.card-4 {
    width: 300px;
    height: 510px;
    top: 100px;
    left: 1400px;
}


.card-back-1 {
    width: 250px;
    height: 350px;
    top: 50px;
    left: 30px;
}

.card-back-2 {
    width: 250px;
    height: 350px;
    top: 40px;
}

.card-back-3 {
    width: 250px;
    height: 350px;
    top: 90px;
    left: 110px;
}

.card-back-4 {
    width: 250px;
    height: 350px;
    top: 50px;
    left: 30px;
}

.card-back {
    position: absolute;
    backface-visibility: hidden;
    object-fit: cover;
    object-fit: contain;
    border-radius: 15px;
    transform: rotateY(180deg);
    background: url("/images/image.png") no-repeat center center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #fff;
    text-align: center;
    padding: 20px;
    line-height: 1.5;
    transition: background 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.card:hover .card-back {
    animation: flashingLights 1s infinite alternate ease-in-out;
}

@keyframes flashingLights {
    0% {
        filter: brightness(1.2);
    }

    50% {
        filter: brightness(2.5);
    }

    100% {
        filter: brightness(1.2);
    }
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1a1a1a;
    padding: 40px;
    color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.8);
    z-index: 20;
    max-width: 400px;
    text-align: center;
    animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -60%);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.modal-close {
    cursor: pointer;
    color: #f093fb;
    font-weight: bold;
    margin-top: 20px;
}

.modal-close:hover {
    text-decoration: underline;
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.grid {
    position: absolute;
    top: 80;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, #ff007f 2px, transparent 2px),
        radial-gradient(circle, #7f00ff 2px, transparent 2px);
    background-size: 50px 50px;
    background-position: 25px 25px;
}

.glow {
    position: absolute;
    width: 100px;
    height: 100px;
    background: radial-gradient(circle,
            rgba(255, 0, 127, 0.6),
            transparent 70%);
    border-radius: 50%;
    pointer-events: none;

    transform: translate(-50%, -50%);

    animation: pulse 2s infinite alternate;
}

@keyframes pulse {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}